<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
        
    body
        p ¡Está a un paso de habilitar tu Pasaporte Digital de Cura Brochero!
        p Necesitamos confirmar su dirección de correo electrónico, haga clic en el siguiente enlace para terminar de crear su cuenta: 
        p Verificar correo electrónico 
            a(href=`${resetUrl}`) Link  
        img(src="https://res.cloudinary.com/developer-gallardo/image/upload/v1649421000/1202082727465011.UoRegMvOHT0C74pGQceh_height640_uzguf0.png")
