<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
        
    body
        p Hola!
        p Valida tu nuevo correo electronico hace click 
           a(href=`${resetUrl}`) Link  
        img(src="https://res.cloudinary.com/developer-gallardo/image/upload/v1649421000/1202082727465011.UoRegMvOHT0C74pGQceh_height640_uzguf0.png")
